body{
    background-color: rgb(201, 53, 48);
    font: normal 12pt Arial;
}
header{
    color: rgb(28, 39, 34);
    font-style: bold;
    text-align: center;

    background-color: rgb(238, 242, 244);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 0px rgb(79, 193, 226);
}
section{
    background-color: rgb(238, 242, 244);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 0px rgb(79, 193, 226);
}
footer{
    color: rgb(238, 242, 244);
    font-style: italic;
    text-align: center;
}